services:
  opengrok:
    command: ["/scripts/server.sh"]
    init: true
    build:
      context: .
    ports:
      - "${OPENGROK_PORT:-8080}:8080"
    volumes:
      - "${OPENGROK_DATA:-opengrok_data}:/opengrok/data/"
      - "${OPENGROK_ETC:-opengrok_etc}:/opengrok/etc/"
      - "${OPENGROK_SRC:-opengrok_src}:/opengrok/src/"
      - "${OPENGROK_MANAGER_DATA:-opengrok_manager_data}:/opengrok/manager_data/"
      - ./example/:/example/:ro
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "${LOG_MAX_SIZE:-10m}"
        max-file: "${LOG_FILE_COUNT:-3}"
    develop:
      watch:
        - action: rebuild
          path: Dockerfile
        - action: rebuild
          path: compose.yaml
        - action: sync+restart
          path: scripts/server.sh
          target: /scripts/server.sh
        - action: sync
          path: example/
          target: /example/
        - action: sync
          path: opengrok-manager/
          target: /opengrok-manager/

volumes:
  opengrok_data:
  opengrok_etc:
  opengrok_src:
  opengrok_manager_data:
